<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Announcement</title>
    <link rel="stylesheet" th:href="@{/CSS/admin/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/CSS/admin/admin-header.css}" />
    <script th:src="@{/JS/admin/admin-header.js}"></script>
	<link rel="stylesheet" th:href="@{/CSS/admin/announcement.css}" />
</head>
<body>
    <header th:insert="~{fragments/admin-header :: header}"></header>
    <div class="container">
        <h2>Edit Announcement</h2>
        <form th:action="@{/announcements/update/{id}(id=${announcement.announcementID})}" method="post" th:object="${announcement}">
            <input type="hidden" th:field="*{announcementID}" />

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:field="*{title}" required />

            <label for="priority">Priority:</label>
            <select id="priority" name="priority" th:field="*{priority}">
                <option value="HIGH">High</option>
                <option value="MEDIUM">Medium</option>
                <option value="LOW">Low</option>
            </select>

            <label for="content">Content:</label>
            <textarea id="content" name="content" th:field="*{content}" required></textarea>

            <button type="submit">Update Announcement</button>
        </form>
        <br>
        
    </div>
</body>
</html>
