<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Change Password</title>
        <link rel="stylesheet" href="CSS/gmail.css" />
    </head>
    <body>
        <div class="gmail-body">
            <div class="forget-password-container">
                <form th:action="@{/gmail}" method="post" id="forgotPasswordForm">
                    <h2>Forgot Password</h2>
                    <div class="forgot">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required />
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                    <a href="login.html" class="back-to-login">Back to Login</a>
                    <div th:if="${message}" class="message" th:text="${message}"></div>
                </form>
            </div>
        </div>
        <!-- <script src="JS/gmail.js"></script> -->
    </body>
</html>
