<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <link rel="stylesheet" th:href="@{/CSS/itemListYoon.css}">
    </head>
<body>

    <div id="saleItemList">
    

            <div class="pg-product-card" th:each="item : ${itemList}"
            th:if="${item.sellType != null and item.sellType.name() != 'AUCTION'}">
              <div class="pg-product-image">
                <img th:src="@{${item.getThumbnail()}}" alt="Thumbnail" />
                <button class="pg-wishlist-btn">♡</button>
              </div>
              <div class="pg-product-info">
                <h3 class="pg-product-title" th:text="${item.itemName}"></h3>
                <p class="pg-price" th:text="'$' +${item.price}"></p>
                <p class="pg-seller" th:text="${item.seller.username}"></p>
                <div class="pg-rating">
                  <div class="pg-stars">★★★★☆</div>
                  <span>4.5</span>
                </div>
                <div class="pg-buttons">
                  <button class="pg-cart-btn">Add to Cart</button>
                  <a th:href="@{/itemList/{itemID}(itemID=${item.itemID})}" th:text="'👁'"  class="pg-view-btn"></a> 
                  
                </div>
              </div>
            </div>




<div class="pg-product-card" th:each="auction : ${auctionList}"
  th:if="${auction.item.sellType != null and auction.item.sellType.name() == 'AUCTION'}">

              <div class="pg-product-image">
                <img th:src="@{${auction.item.getThumbnail()}}" alt="Thumbnail" />
                <button class="pg-wishlist-btn">♡</button>
              </div>
              <div class="pg-product-info">
                <h3 class="pg-product-title" th:text="${auction.item.itemName}"></h3>
                <p class="pg-price" th:text="'$' +${auction.item.price}"></p>
                <p class="pg-seller" th:text="${auction.item.seller.username}"></p>
                <div class="pg-rating">
                  <div class="pg-stars">★★★★☆</div>
                  <span>4.5</span>
                </div>
                <div class="pg-buttons">
                  <button class="pg-cart-btn">Add to Cart</button>
                  <a th:href="@{/itemList/{itemID}(itemID=${auction.item.itemID})}" th:text="'👁'"  class="pg-view-btn"></a> 
                  
                </div>
              </div>
            </div>


</div>
</body>


</html>