<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" th:href="@{/CSS/ckstyle1.css}">
    <script th:src="@{/JS/login.js}" defer></script>

</head>
<body>

<div class="form-container">
    
    <form id="loginForm" onsubmit="return validateLogin()" th:action="@{/login}" method="POST">
            <h2>Login</h2>

            <!-- Username Field -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <span class="error" id="usernameError" style="color: red;"></span>
            
            <!-- Password Field -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <span class="error" id="passwordError" style="color: red;"></span>

            <!-- Display login error message -->
            <p th:if="${loginError}" style="color: red;">[[${loginError}]]</p>

            <!-- Submit Button -->
            <div style="display: flex; justify-content: center;">
                <input type="submit" value="Login">
            </div>
        </form>
		<p>Dont have an account? <a>Register here!</a></p>
		<p><a th:href="@{/gmailForgetPassword}">Forget Password</a></p>
</div>

</body>
</html>
