<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
     <link rel="stylesheet" th:href="@{/CSS/buyer.css}">
     
         <link th:href="@{/CSS/headerFooter.css}" rel="stylesheet">
 	<script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet">
 	<script th:src="@{/JS/sidebar.js}"></script>
 	 <script th:src="@{/JS/CategorySelect.js}"></script>
</head>
<body >
<header th:insert="fragments/header :: header"></header>
    <div class="profile-body">
    <div class="profile-wrapper">
        <div class="profile-header">
            <div class="profile-picture">
                <img src="https://png.pngtree.com/background/20230613/original/pngtree-anime-girl-listening-to-music-picture-image_3381911.jpg" alt="User Profile">
            </div>
            <div class="profile-info">
                <h2>Sunlight</h2>
                <div class="stats">
                    <span><strong>100</strong> Posts</span>
                    
                </div>
                <div class="bio">
                    <p id="bioText" data-full-text="a skincare brand that uses thermal water from the French Alps to create products for a variety of skin types. Uriage products are hypoallergenic and are designed to be soothing, hydrating, and protective. ">
                    </p>
                    <button id="toggleBioButton" onclick="toggleBio()">See More</button>
                </div>
                
                
            </div>
        </div>

        <div class="profile-tabs">
            <button class="tab active" onclick="showSection('all-posts')">All Posts</button>
            <button class="tab" onclick="showSection('reviews')">Reviews</button>
           
        </div>

        <div class="profile-content">
            <div id="all-posts" class="tab-content active">
            <div class="posts">
                <h3>All Posts</h3>
              </div>  
                
                <div id="saleItemList">
    <div id="saleItemContainer">
        <a th:href="@{/viewItem}">
           <div id="saleItem">
            <img src="https://theordinary.com/on/demandware.static/-/Sites-deciem-storefront/default/dwb8af1f6f/category-images/toners-skincare-plp.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dw145daafa/Y0463001/Y0463001_C046300100_E01_GHC.jpg?sw=1850&sh=1850" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="https://target.scene7.com/is/image/Target/GUEST_868fe7c6-3162-4b82-bb94-939e761d2909?wid=488&hei=488&fmt=pjpeg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="https://www.hp.com/gb-en/shop/Html/Merch/Images/c08522780_1750x1285.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="https://img.etimg.com/photo/msid-98945112,imgsize-13860/SamsungGalaxyS23Ultra.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="https://i.ebayimg.com/images/g/u3cAAOSw2g9jDfzv/s-l400.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>

</div>
                
              
            </div>
            <div id="reviews" class="tab-content">
                <h3>Reviews</h3>
                <p>You have no reviews yet.</p>
            </div>
            
            </div>
        </div>
    </div>
<footer th:insert="fragments/footer :: footer"></footer>
 <script>
        lucide.createIcons();
      </script>

    <script th:src="@{/JS/profile.js}"></script>
</body>
</html>
